# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
tfplan

# Environment variables
terraform.tfvars
.env
.envrc

# IDE
.vscode/
.idea/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
.lambda_build/
*.zip

# OS
.DS_Store
Thumbs.db
